/* 外部样式 */
#app .ant-layout-content {
  margin: 0 !important;
}

/* 列表 */
#tree-list #list {
  background: #fff;
  font-size: 14px;
  padding-top: 20px;
  width: 80%;
  height: 100%;
  padding: 10px 20px 20px 20px;
  float: right;
  border-top-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  margin: 0;

  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  /* Safari */
  -webkit-transition-property: width;
  -webkit-transition-duration: .8s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
}

#list .ant-table-body {
  /* overflow-x: scroll; */
  font-size: 14px;
}
#list .ant-btn1,
.ant-btn-primary {
  /* font-family: PingFangSC-Regular; */
  border-radius: 4px;
  margin-right: 10px;
}
#list .ant-btn.ant-dropdown-trigger {
  width: 104px;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
}
#list th {
  font-weight: 800 !important;
  font-size: 15px;
}
/* #list .add-td{
  width: 84px;
  display: flex;
} */
/* #list .add-td-sp{
  /* padding: 5px; */
/*border: 0;
  color: #1887cc;
  cursor:pointer;
  line-height: 29px;
} */
/* #list .add-td-l{
  margin: 4px auto;
  color: #e8e8e8
} */
.add-td {
  width: 119px;
  display: flex;
  /* text-align: center; */
}
.add-td-sp {
  /* padding: 5px; */
  border: 0;
  color: #1890ff;
  cursor: pointer;
  line-height: 29px;
  margin: 0 auto;
}
.add-td-l {
  margin: 0 4px 0;
  color: #e8e8e8;
}
#list .ant-table-thead {
  /* padding: 10px 10px; */
  height: 54px;

  /* line-height: 54px; */
}
#list .ant-table-thead > tr > th,
#list .ant-table-tbody > tr > td {
  /* padding: 10px 10px; */
  height: 54px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
#list .ant-pagination {
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
}

/* .ant-table-tbody>.ant-table-row.ant-table-row-level-0:hover{
    background:#00f !important ;
    background:#F3F8FC !important ;
} */

/* 搜索功能 */
#sel {
  background: #fff;
}
#sel .top {
  width: 100%;
  position: relative;
  /* padding: 10px 0 1px; */
  margin-bottom: 0;
  font-size: 14px;
  border: 0px;
}
#sel .top::after {
  content: '';
  clear: both;
  display: block;
}
#sel .f-inp {
  padding-top: 25px;
  display: flex;
  line-height: 40px;
  /* height: 50px; */
  width: 100%;
  text-align: center;
  justify-content: space-around;
}
#sel .f-inp::after {
  content: "";
  clear: both;
  display: block;
}
#sel .inp {
  font-size: 14px;
  /* font-weight: 600; */
  color: rgba(0, 0, 0, 0.85);
  line-height: 32px;
}
#sel .inp > input {
  width: 252px;
  height: 32px;
  font-size: 14px !important;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 10px;
  line-height: 32px;
}
#sel .ifshow {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  cursor: pointer;
  color: #157cc9;
}
#sel .bottom {
  padding: 20px 0;
  text-align: center;
}
#sel .bottom a-button {
  width: 65px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  color: rgba(0, 0, 0, 0.65);
}
#sel .btn-clear {
  color: rgba(0, 0, 0, 0.25);
  margin-left: 3px;
}

.ant-pro-multi-tab {
  margin: 0 !important;
}
.ant-form-item-control {
  /* vertical-align:middle; */
}

/* .ant-modal-footer{
    display: none!important;
  } */

/* 查询的样式 */

.ant-pagination {
  /* float: right; */
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
}
.ant-form-item-children {
  color: #000;
  font-size: 14px;
}

/* 菜单样式修改 */
/* .logo {
  opacity: 0.4;
  background-image: linear-gradient(180deg, rgba(23, 124, 200, 0.42) 0%, #157cc9 100%) !important;
} */

.ant-menu .ant-menu-dark .ant-menu-item-selected {
  background-image: linear-gradient(270deg, rgba(22, 123, 200, 0.59) 0%, #157cc9 100%) !important;
}
.setting-drawer-index-content .setting-drawer-theme-color-colorBlock[data-v-06065cda] {
  background: #157cc9;
}
.form_textname {
  width: 88px;
  text-align: right;
}

/* 系统定义 */
.app {
  width: 96%;
  margin: 20px auto 0;
  background: #fff;
  overflow: hidden;
}
.button {
  border-bottom: 1px #e8e8e8 solid;
}
.button button {
  margin: 15px 20px;
}
.body {
  padding: 20px 20px;
}
.ant-card-head {
  border-bottom: 0;
}
.ant-card-head-title {
  padding-bottom: 0;
  font-weight: 1000;
}
.ant-card-body {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}
.card {
  height: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #d9d9d9;
}
.cardd {
  background: #f7f9fa;
  border: 1px solid #e9e9e9;
  border-radius: 0 0 2px 2px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.cardd span {
  text-align: center;
}
.page {
  margin-bottom: 30px;
  /* border: 1px solid; */
}
